# SCRAPPING THE DATASET
### THIS CODE IS USED TO SCRAP THE DATA THEN PUT IT IN A CSV FILE SO DON'T RUN IT !!!!

In [3]:
# import numpy as np
# import pandas as pd
# import requests as rq
# from bs4 import BeautifulSoup

# global rating, Aircraft, Class, Travel_type, Route, Date, comfort, staff, food, entertainment, wifi, ground_service, vfm, recommend

# verified = []
# rating = []
# feedback = []
# Aircraft = []
# Class = []
# Travel_type = []
# Route = []
# Date = []
# comfort = []
# staff = []
# food = []
# entertainment = []
# wifi = []
# ground_service = []
# vfm = []
# recommend = []

# def value_fetcher(soup):
#     review_values = {
#         'Aircraft': np.nan,
#         'Type Of Traveller': np.nan,
#         'Seat Type': np.nan,
#         'Route': np.nan,
#         'Date Flown': np.nan,
#         'Seat Comfort': np.nan,
#         'Cabin Staff Service': np.nan,
#         'Food & Beverages': np.nan,
#         'Inflight Entertainment': np.nan,
#         'Wifi & Connectivity': np.nan,
#         'Ground Service': np.nan,
#         'Value For Money': np.nan,
#         'Recommended': np.nan
#     }

#     for row in soup.find_all('tr'):
#         header = row.find('td', class_='review-rating-header').text
#         value_cell = row.find('td', class_='review-value')

#         if header in review_values:
#             if header in ['Seat Comfort', 'Cabin Staff Service', 'Food & Beverages', 'Inflight Entertainment', 'Wifi & Connectivity','Ground Service', 'Value For Money']:
#                 review_values[header] = len(row.find_all('span', class_='star fill'))
#             elif header == 'Recommended':
#                 review_values[header] = value_cell.text
#             else:
#                  review_values[header] = value_cell.text if value_cell else np.nan
    
#     Aircraft.append(review_values['Aircraft'])
#     Travel_type.append(review_values['Type Of Traveller'])
#     Class.append(review_values['Seat Type'])
#     Route.append(review_values['Route'])
#     Date.append(review_values['Date Flown'])
#     comfort.append(review_values['Seat Comfort'])
#     staff.append(review_values['Cabin Staff Service'])
#     food.append(review_values['Food & Beverages'])
#     entertainment.append(review_values['Inflight Entertainment'])
#     wifi.append(review_values['Wifi & Connectivity'])
#     ground_service.append(review_values['Ground Service'])
#     vfm.append(review_values['Value For Money'])
#     recommend.append(review_values['Recommended'])


# def fetcher(soup, tag, key, value):
#     element = soup.find(tag, {key: value})
#     return element.text if element else np.nan

# for i in range(1, 344):
#     url = f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/'
#     page = rq.get(url).text
#     soup = BeautifulSoup(page, 'lxml')
#     articles = soup.find_all('article', {'itemprop': 'review'})
#     for article in articles:
#         rating.append(fetcher(article, 'span', 'itemprop', 'ratingValue'))
#         div = article.find('div', class_='tc_mobile')
#         content = div.find('div', class_='text_content').text.split('|')
#         if len(content) == 2:
#             verification, review = content
#         else:
#             verification = np.nan
#             review = content[0]
#         verified.append(verification)
#         feedback.append(review)
#         table = div.find('table', class_='review-ratings')
#         value_fetcher(table)

# data = pd.DataFrame({
#     'status': verified,
#     'aircraft': Aircraft,
#     'travel_type': Travel_type,
#     'travel_class': Class,
#     'route': Route,
#     'date': Date,
#     'seating_comfort': comfort,
#     'staff_service': staff,
#     'food_quality': food,
#     'entertainment': entertainment,
#     'wifi': wifi,
#     'ground_service': ground_service,
#     'value_for_money': vfm,
#     'recommended': recommend,
#     'overall_rating': rating[::], 
#     'review': feedback
# })
# data.to_csv('British_Airways.csv', index=False)

In [4]:
import pandas as pd
import re
from sklearn.impute import KNNImputer

In [ ]:
data = pd.read_csv("British_Airways.csv")
data

,status,aircraft,travel_type,travel_class,route,date,seating_comfort,staff_service,food_quality,entertainment,wifi,ground_service,value_for_money,recommended,overall_rating,review
0,✅ Trip Verified,Boeing 777 / A350,Business,Business Class,Washington to London,December 2024,4.0,3.0,1.0,5.0,4.0,1.0,1,no,2.0,This was the first time I flew British Airw...
1,✅ Trip Verified,Boeing 777,Solo Leisure,Business Class,Cape Town to London,December 2024,5.0,5.0,5.0,5.0,NaN,4.0,5,yes,8.0,Pretty good flight but still some small thi...
2,✅ Trip Verified,Boeing 787,Solo Leisure,First Class,Mexico City to London Heathrow,November 2024,5.0,5.0,3.0,3.0,4.0,4.0,4,yes,7.0,"Check in was fine, but no priority/fast track..."
3,✅ Trip Verified,NaN,Solo Leisure,Economy Class,London to Amsterdam,December 2024,1.0,1.0,NaN,NaN,NaN,1.0,1,no,1.0,British Airways is absolute rubbish. I had to...
4,✅ Trip Verified,A320,Solo Leisure,Economy Class,Marrakesh to London,August 2024,2.0,2.0,1.0,1.0,NaN,1.0,1,no,1.0,The flight time was changed at the last minut...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,NaN,NaN,NaN,Business Class,NaN,NaN,5.0,5.0,5.0,5.0,NaN,NaN,5,yes,10.0,Austin to London on a 787. Difficult to quite ...
3426,NaN,NaN,NaN,First Class,NaN,NaN,5.0,5.0,3.0,2.0,NaN,NaN,4,yes,8.0,A very pleasant but flawed flight to Dallas. O...
3427,NaN,NaN,NaN,Business Class,NaN,NaN,3.0,3.0,1.0,2.0,NaN,NaN,1,no,5.0,LHR-SFO - Club World. I find myself nodding to...
3428,NaN,NaN,NaN,Business Class,NaN,NaN,4.0,5.0,5.0,3.0,NaN,NaN,5,yes,9.0,Flew LHR-CPH in business class on 23rd Decembe...
3429,NaN,NaN,NaN,Business Class,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,1,no,1.0,The TV is the worst I have ever experienced an...

# DATA CLEANING

### 1- DROPPING THE DUPLICATES

In [6]:
data.duplicated().sum()

26

In [7]:
data = data.drop_duplicates()

In [8]:
data.duplicated().sum()

0

### 2- HANDLING NULLS

In [9]:
data.isnull().sum()

status             1027
aircraft           1373
travel_type         276
travel_class          2
route               281
date                283
seating_comfort     125
staff_service       140
food_quality        433
entertainment      1233
wifi               2718
ground_service      355
value_for_money       0
recommended           0
overall_rating        1
review                0
dtype: int64

In [10]:
def infer_travel_type(review):
    if pd.isna(review):
        return pd.NA  
    review = review.lower()
    if re.search(r'business', review):
        return 'Business'
    elif re.search(r'leisure', review):
        return 'Leisure'
    elif re.search(r'family', review):
        return 'Family'
    elif re.search(r'couple', review):
        return 'Couple'
    return pd.NA  
    
missing_travel_type = data['travel_type'].isna()
data.loc[missing_travel_type, 'travel_type'] = data.loc[missing_travel_type, 'review'].apply(infer_travel_type)
data[missing_travel_type][['review', 'travel_type']].head(10)

                                                 review travel_type
263     British Airways absolutely does not care. My...        <NA>
541     Over 1 week ago I cancelled 2 Club Europe fl...        <NA>
2065    London Heathrow to Chicago in First with Bri...        <NA>
3133  Travelled from Venice to Gatwick on 28th May c...    Business
3134  Worst customer experience on BA flight. I have...      Family
3135  I had this terrible experience of traveling Br...        <NA>
3136  BA362 6th June 2015. If this were the first fl...    Business
3137  I flew from Heathrow to Tokyo Haneda in First....    Business
3138  HER-LGW. Our return flight confirmed our view ...        <NA>
3139  I'm very disappointed with my BA flight as it ...        <NA>

In [11]:
data.isnull().sum()

status             1027
aircraft           1373
travel_type         190
travel_class          2
route               281
date                283
seating_comfort     125
staff_service       140
food_quality        433
entertainment      1233
wifi               2718
ground_service      355
value_for_money       0
recommended           0
overall_rating        1
review                0
dtype: int64

In [12]:
data = data.dropna(subset=['travel_type'])

In [13]:
data.isnull().sum()

status              840
aircraft           1184
travel_type           0
travel_class          2
route                94
date                 96
seating_comfort     124
staff_service       139
food_quality        432
entertainment      1232
wifi               2528
ground_service      167
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [14]:
def extract_aircraft(text, aircraft_lookup):
    aircraft_match = re.search(r'((?:boeing|airbus|embraer|a)\s*\d{3,4}(?:-\d{1,3})?(?:\s*er)?)', text, re.IGNORECASE)
    if aircraft_match:
        extracted_aircraft = aircraft_match.group(0).upper()
        if extracted_aircraft in [air.upper() for air in aircraft_lookup]:
            return aircraft_lookup[[air.upper() for air in aircraft_lookup].index(extracted_aircraft)]
        else :
            return extracted_aircraft

    return None

In [15]:
data.isnull().sum()

status              840
aircraft           1184
travel_type           0
travel_class          2
route                94
date                 96
seating_comfort     124
staff_service       139
food_quality        432
entertainment      1232
wifi               2528
ground_service      167
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [16]:
def infer_travel_class(review):
    if pd.isna(review):
        return pd.NA  
    review = review.lower()
    if re.search(r'first', review):
        return 'First Class'
    elif re.search(r'business', review):
        return 'Business Class'
    elif re.search(r'economy', review):
        return 'Economy Class'
    elif re.search(r'premium', review):
        return 'Premium Economy'
    return pd.NA  

missing_travel_class = data['travel_class'].isna()
data.loc[missing_travel_class, 'travel_class'] = data.loc[missing_travel_class, 'review'].apply(infer_travel_class)
data[missing_travel_class][['review', 'travel_class']].head(10)

                                                 review    travel_class
3111  Overall good experience. BA owns Vueling/Iberi...            <NA>
3154  Club World: Just flown London Gatwick to Las V...  Business Class

In [17]:
data.isnull().sum()

status              840
aircraft           1184
travel_type           0
travel_class          1
route                94
date                 96
seating_comfort     124
staff_service       139
food_quality        432
entertainment      1232
wifi               2528
ground_service      167
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [18]:
data = data.dropna(subset=['travel_class'])

In [19]:
data.isnull().sum()

status              839
aircraft           1183
travel_type           0
travel_class          0
route                94
date                 96
seating_comfort     124
staff_service       139
food_quality        432
entertainment      1232
wifi               2528
ground_service      167
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [20]:
def infer_route(review):
    if pd.isna(review):
        return pd.NA 
    review = review.lower()
    match = re.search(r'from ([a-zA-Z ]+) to ([a-zA-Z ]+)', review)
    if match:
        return f"{match.group(1).strip()} to {match.group(2).strip()}"
    return pd.NA

missing_route = data['route'].isna()
data.loc[missing_route, 'route'] = data.loc[missing_route, 'review'].apply(infer_route)
data[missing_route][['review', 'route']].head()

                                                 review             route
59      The customer service is one of the worst I h...  london to zurich
359     I booked business class tickets for my fianc...              <NA>
551     Second time getting poor service from BA. 1s...              <NA>
736     Booked flight six months before travel, then...              <NA>
2869  My issue is the very poor British Airways cust...              <NA>

In [21]:
data.isnull().sum()

status              839
aircraft           1183
travel_type           0
travel_class          0
route                71
date                 96
seating_comfort     124
staff_service       139
food_quality        432
entertainment      1232
wifi               2528
ground_service      167
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [22]:
def infer_date(review):
    if pd.isna(review):
        return pd.NA  
    review = review.lower()
    date_patterns = [
        r'\b(?:january|february|march|april|may|june|july|august|september|october|november|december) \d{4}\b', 
        r'\b\d{1,2}/\d{1,2}/\d{2,4}\b',
        r'\b\d{4}-\d{2}-\d{2}\b',
    ]
    
    for pattern in date_patterns:
        match = re.search(pattern, review)
        if match:
            return match.group(0)  
    return pd.NA  

missing_date = data['date'].isna()
data.loc[missing_date, 'date'] = data.loc[missing_date, 'review'].apply(infer_date)
updated_dates = data[missing_date][['review', 'date']]
updated_dates.head()

                                                 review  date
3046  Day trip to Vienna, used BA Economy as their B...  <NA>
3124  FRA-LHR on A319, We sat on the plane at the ga...  <NA>
3125  Flew Club World from Gatwick to Barbados in Ap...  <NA>
3126  Flew from Kiev to London on their Airbus 319 i...  <NA>
3127  This is more of a general review having travel...  <NA>

In [23]:
data.isnull().sum()

status              839
aircraft           1183
travel_type           0
travel_class          0
route                71
date                 87
seating_comfort     124
staff_service       139
food_quality        432
entertainment      1232
wifi               2528
ground_service      167
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [24]:
data = data.dropna(subset=['date'])

In [25]:
data.isnull().sum()

status              752
aircraft           1103
travel_type           0
travel_class          0
route                12
date                  0
seating_comfort     124
staff_service       139
food_quality        431
entertainment      1231
wifi               2442
ground_service       81
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [26]:
data = data.dropna(subset=['route'])

In [27]:
data.isnull().sum()

status              743
aircraft           1091
travel_type           0
travel_class          0
route                 0
date                  0
seating_comfort     122
staff_service       137
food_quality        429
entertainment      1229
wifi               2431
ground_service       71
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [28]:
data['status'] = data['status'].fillna('Unknown')
data['aircraft'] = data['aircraft'].fillna('Unknown')
print(data[['status', 'aircraft']].isnull().sum())

status      0
aircraft    0
dtype: int64

In [29]:
data.isnull().sum()

status                0
aircraft              0
travel_type           0
travel_class          0
route                 0
date                  0
seating_comfort     122
staff_service       137
food_quality        429
entertainment      1229
wifi               2431
ground_service       71
value_for_money       0
recommended           0
overall_rating        0
review                0
dtype: int64

In [30]:
numerical_columns = [
    'seating_comfort', 
    'staff_service', 
    'food_quality', 
    'entertainment', 
    'wifi', 
    'ground_service'
]

knn_imputer = KNNImputer(n_neighbors=5, weights="uniform")

data[numerical_columns] = knn_imputer.fit_transform(data[numerical_columns])

print(data[numerical_columns].isnull().sum())

seating_comfort    0
staff_service      0
food_quality       0
entertainment      0
wifi               0
ground_service     0
dtype: int64

In [31]:
data.isnull().sum()

status             0
aircraft           0
travel_type        0
travel_class       0
route              0
date               0
seating_comfort    0
staff_service      0
food_quality       0
entertainment      0
wifi               0
ground_service     0
value_for_money    0
recommended        0
overall_rating     0
review             0
dtype: int64

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3114 entries, 0 to 3238
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   status           3114 non-null   object
 1   aircraft         3114 non-null   object
 2   travel_type      3114 non-null   object
 3   travel_class     3114 non-null   object
 4   route            3114 non-null   object
 5   date             3114 non-null   object
 6   seating_comfort  3114 non-null   float64
 7   staff_service    3114 non-null   float64
 8   food_quality     3114 non-null   float64
 9   entertainment    3114 non-null   float64
 10  wifi             3114 non-null   float64
 11  ground_service   3114 non-null   float64
 12  value_for_money  3114 non-null   int64
 13  recommended      3114 non-null   object
 14  overall_rating   3114 non-null   float64
 15  review           3114 non-null   object
dtypes: float64(7), int64(1), object(8)
memory usage: 413.6+ KB

# 3- MACHINE LEARNING MODELS

In [33]:
data.columns

Index(['status', 'aircraft', 'travel_type', 'travel_class', 'route', 'date',
       'seating_comfort', 'staff_service', 'food_quality', 'entertainment',
       'wifi', 'ground_service', 'value_for_money', 'recommended',
       'overall_rating', 'review'],
      dtype='object')

In [34]:
# KNN 
# DECISION TREE
# SVM
# NAIVE